In [5]:
a=complex(8,2)
b=True
c="harry"
d=None
print(a)
print(b)
print(c)
print(d)
print("The type of a is", type(a))
print("The type of b is", type(b))
print("The type of c is", type(c))
print("The type of d is", type(d))

list1 = [8,2.3,[-4,5],["apple",
"banana"]]
print(list1)

tuple1 =(("parrot","sparrow"),
("Lion","Tiger"))
print(tuple1)

dict1={"name":"Sakshi","age":20,
       "canVote":True}
print(dict1)

(8+2j)
True
harry
None
The type of a is <class 'complex'>
The type of b is <class 'bool'>
The type of c is <class 'str'>
The type of d is <class 'NoneType'>
[8, 2.3, [-4, 5], ['apple', 'banana']]
(('parrot', 'sparrow'), ('Lion', 'Tiger'))
{'name': 'Sakshi', 'age': 20, 'canVote': True}

In [4]:
marks=[3,5,6,"Harry",True]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])
print(marks[4])
# print(marks[5])

[3, 5, 6, 'Harry', True]
<class 'list'>
3
5
6
Harry
True

In [ ]:
marks = [3,5,6,"Harry,True"]
# print(marks[-3])#negative index
# print(marks[len(marks)-3])#negative index
# print(marks[5-3])#positive index
# print(marks[2])#positice index

if 7 in marks:
    print("yes")
else:
    print("no")
    # Same thing applies fo strings as well!
    # if"ha" in "harry":
        # print("yes")

In [14]:
marks =[3,5,6,"Harry",True]
print(marks)
print(marks[1:-1])
print(marks[1:4:2])

[3, 5, 6, 'Harry', True]
[5, 6, 'Harry']
[5, 'Harry']

In [16]:
marks =[3,5,6,"Harry",True,6,7,2,32,345,23]
print(marks)
print(marks[1:9])
print(marks[1:9:3])

[3, 5, 6, 'Harry', True, 6, 7, 2, 32, 345, 23]
[5, 6, 'Harry', True, 6, 7, 2, 32]
[5, True, 2]

In [20]:
marks =[3,5,6,"Harry",True,6,7,2,32,345,23]
# print(marks[0:7])
# print(marks[1:9])
# print(marks[1:9:3])

lst=[i*i for i in range(10)]
print(lst)
lst=[i*i for i in range(10) if i%2==0]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
list1 = ["patna","bhilai","mumbai"]
print(list1)
list1.append("raipur")
list1.insert(1,"goa")
list1.remove("mumbai")

In [ ]:
class child (father,mother):
    def hobby(self):
        print ("child:love painting")
        
        c.child()
        c.skill()
        c.talent()
        c.hobby()