In [3]:
def average(a ,b):
    print("The average is",(a+b)/2)
    
average(4,6)

The average is 5.0

In [4]:

def average(a=9,b=1):
     print("The average is ",(a+b)/2)
    
    # average()
    #  average(1,5)
average(5)
average(b=9)

The average is  3.0
The average is  9.0

In [7]:
def name(fname, mname = "Jhon",lname ="Whatson"):
    print("Hello,",fname,mname,lname)
name("Amy","Agarwal","Jain")

Hello, Amy Agarwal Jain

In [8]:
def average(a ,b):
    print("The average is",(a+b)/2)
    
average(4,6)
average(b=9, a=21)

The average is 5.0
The average is 15.0

In [13]:
def average(a,b,c=1):
    print("The average is ",(a+b+c)/2)

average(5,6)

The average is  6.0

In [20]:
def average(*numbers):
    print(type(numbers))
    sum =0
    for i in numbers:
        sum = sum +i
    print("Average is:",sum/len(numbers))
average(5,6,7,1)

<class 'tuple'>
Average is: 4.75

In [23]:
def name(**name):
    print (type(name))
    print("Hello,",name["fname"],name["mname"],name["lname"])
name(mname="Buchanan",lname="Barnes",fname="James")

<class 'dict'>
Hello, James Buchanan Barnes

In [27]:
def average(*numbers):
    # print(type(numbers))
    sum =0
    for i in numbers:
        sum = sum +i
    # print("Average is:",sum/len(numbers))
    
    return 7 #let support agar main return n kru toh none milega
    return sum/len(numbers)
c=average(5,6,7,1)
print(c)

7